.MAPbuilding {
	fill: #ffa500;
}
.stroked {
	stroke: black;
    stroke-width: 1;
    fill: none;
    opacity: 0;
	}
.filld {
    fill: #999999;
    opacity: 0;
}
.background {
	fill: gray;
	opacity: 0;
}
.yesButton {
	fill: #73ea15;
	opacity: 0;
}
.noButton {
	fill: #ef4848;
	opacity: 0;
}
.text {
	fill: black;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: bold;
	opacity: 0;
	pointer-events: none;
}
.MAPlabel {
	opacity: 1;
}
.SFelement {
	opacity: 0;
}
